/* RESET E BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Urbanist", sans-serif;
  color: #1a1a1a;
  background-image: url("images/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ESTRUTURA */
main.phone-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* IMAGEM */
.phone-img {
  width: 80%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  padding-top: 1.8rem;
}

/* TIPOGRAFIA */
h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

output#count-el {
  font-size: 2.5rem;
  margin: 1rem 0;
}

p {
  margin: 0.5rem 1rem 0 1rem;
}

/* BOTÕES */
.btn-group,
.clear-btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 0.5rem;
}

button {
  width: 130px;
  padding: 10px 17px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

#increment-btn {
  border: 2px solid #1a1a1a;
  background-color: #1a1a1a;
  color: #ffffff;
}

#save-btn {
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  background-color: #ffffff;
}

#undo-btn,
#clear-all {
  font-size: 0.9rem;
  padding: 10px 18px;
  width: auto;
  border-radius: 9999px;
  cursor: default;
  margin-top: 2rem;
  border: 1px solid #1a1a1a;
  background-color: #ffffff;
  color: #1a1a1a;
  opacity: 0.5;
}

/* RESPONSIVIDADE SIMPLES */
@media (max-width: 400px) {
  main.phone-frame {
    width: 90%;
    height: auto;
    padding: 1.5rem 1rem;
  }

  .phone-img {
    padding-top: 1rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  output#count-el {
    font-size: 2rem;
  }

  button {
    width: 100%;
  }
}
